<div class="balancesheet">
  <div class="setup" fxLayout="row" fxLayoutAlign="space-between start">
    <mat-form-field fxLayout="column" fxLayoutAlign="none end">
      <mat-select [(value)]="filterMonth" (selectionChange)="getValue()">
        <mat-option [value]="i" *ngFor="let item of listOfMonths; index as i">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxLayout="column" fxLayoutAlign="none end">
      <mat-select [(value)]="filterYear" (selectionChange)="getValue()">
        <mat-option [value]="item" *ngFor="let item of listOfYear; index as i">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Goals</p>
        <button mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div dir="rtl" fxLayoutGap="20px"><span>{{netAssets}}/{{goalAmount}}</span> </div>
      <mat-progress-bar mode="determinate" [value]="progressPercentage"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Expenses</p>
        <button mat-mini-fab color="primary" (click)="showForm('Expense')">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of listOfExpense">{{item.name}}:{{item.amount}} at {{item.timestamp}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Incomes</p>
        <button mat-mini-fab color="primary" (click)="showForm('Income')">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of listOfIncome">{{item.name}}:{{item.amount}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Assets</p>
        <button mat-mini-fab color="primary" (click)="showForm('Asset')">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of listOfAsset">{{item.name}}:{{item.amount}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Libalities</p>
        <button mat-mini-fab color="primary" (click)="showForm('Libality')">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of listOfLibality">{{item.name}}:{{item.amount}} at {{item.timestamp}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="overlay" fxLayout="column" fxLayoutAlign="center" [ngClass]="showOverlay">
  <div class="form">
    <app-addform [section]="section" (hideForm)=hideForm()></app-addform>
  </div>
</div>
