.balancesheet {
  margin-top: 45px;
}
mat-card {
  margin: 0 10px 10px 10px;
}
mat-card-title {
  min-width: 120px;
}

.card-header p {
  margin: 10px 10px 0 0;

  font-size: 13px;
}

.card-header mat-icon,
mat-option,
mat-card-content {
  margin: 0;
}
mat-progress-bar {
  height: 10px;
}
mat-list-item {
  margin: 0;
}
.form {
  z-index: 7;
}
.rightBold {
  font-weight: 500;
  margin-right: 5px;
}
.leftBold {
  font-weight: 500;
  margin-left: 5px;
}
