<div class="balancesheet">
  <app-filter (Filter)="NewFilter($event)"></app-filter>
  <mat-card class="goal">
    <mat-card-header>
      <mat-card-title class="goal-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Goals</p>
        <button mat-mini-fab color="black">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div dir="rtl" fxLayoutGap="20px"><span>{{netAssets}}/{{goalAmount}}</span> </div>
      <mat-progress-bar mode="determinate" [value]="progressPercentage" color="accent"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around start" class="section">
    <mat-card [routerLink]="['/income']">
      <mat-card-header class="in">
        <span>Income</span>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="end none" class="section-content">
        <p class="amount">5000</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="out">
        <span>Expense</span>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="end none" class="section-content">
        <p class="amount">5000</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around start" class="section">
    <mat-card>
      <mat-card-header class="in">
        <span>Assets</span>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="end none" class="section-content">
        <p class="amount">5000</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="out">
        <span>Libalities</span>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="end none" class="section-content">
        <p class="amount">5000</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between none">
      <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle [hidden]="!displayLibality" (click)="displayLibality = false">Hide</mat-button-toggle>
          <mat-button-toggle [hidden]="displayLibality" (click)="displayLibality = true">Show</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-card-title class="card-header" fxLayout="row" fxLayoutAlign="space-between none">
        <p>Libalities</p>
        <button mat-mini-fab color="primary" (click)="showForm('Libality')">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="displayLibality">
      <mat-list>
        <mat-list-item *ngFor="let item of listOfLibality"><span class="rightBold">{{item.name}}:
            {{item.amount}} </span><span> at</span>
          <span class="leftBold"> {{item.timestamp}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
-->
