.balancesheet {
  margin-top: 45px;
}
mat-card {
  margin: 0 10px 10px 10px;
}
.goal {
  background-color: var(--grey-color);
  border-radius: 0;
}
.goal mat-card-title {
  min-width: 120px;
  color: var(--white-color);
}
.goal-header p {
  margin: 10px 10px 0 0;
  font-size: 20px;
}
mat-progress-bar {
  height: 10px;
}
button {
  background-color: var(--black-color);
  color: var(--white-color);
}
.section mat-card {
  width: 90%;
  background-color: var(--primary-color);
  padding-left: 0;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.in span {
  color: var(--success-color);
  font-weight: 700;
  font-size: 20px;
}
.out span {
  color: var(--alert-color);
  font-weight: 700;
  font-size: 20px;
}
.amount {
  color: var(--white-color);
  font-size: 20px;
}
.section-content {
  margin-top: 50px;
}
.section mat-card:hover {
  background-color: var(--pale-primary-color);
}
