mat-card {
  margin: 0 10px 10px 10px;
}
mat-progress-bar {
  height: 10px;
}
.header {
  display: flex;
}
.header p {
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

.context-header h2,
.context-header p {
  color: var(--white-color);
}

.amount {
  float: right;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.context-header {
  min-height: 150px;
}
.small-card {
  cursor: pointer;
}
