/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
  --primary-color: #00a6a4;
  --pale-primary-color: #01ca7a;
  --secondary-color: #f6f6f8;
  --minimal-color: #ff8000;
  --black-color: black;
  --white-color: white;
  --alter-primary-color: #ffffff;
  --success-color: #b6ffcc;
  --alert-color: #f89e9e;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.75s all ease-out;
}
.showOverlay {
  z-index: 2;
  opacity: 1;
}
.nav-setup {
  padding-top: 55px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
  margin: 5px 5px 5px 5px;
  padding: 15px;
}
.card-color {
  color: var(--white-color);
  background: rgb(60, 203, 211);
  background: linear-gradient(
    117deg,
    rgba(60, 203, 211, 1) 0%,
    rgba(33, 202, 173, 1) 47%,
    rgba(1, 202, 122, 1) 100%
  );
  transition: 0.75s ease-in-out all;
}

.card-color:hover {
  background: rgb(62, 200, 205);
  background: linear-gradient(
    117deg,
    rgba(0, 240, 172, 1) 0%,
    rgba(62, 200, 205, 1) 100%
  );
}
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
